plugins/com.agritrace.edairy.desktop.common.model/model/DairyXML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:account="http://com.agritrace.edairy.desktop.common.model/account" xmlns:base="http://com.agritrace.edairy.desktop.common.model/base/" xmlns:dairy="http://com.agritrace.edairy.desktop.common.model/dairy/" xmlns:requests="http://edairy.agritrace.com/requests/" xmlns:tracking="http://com.agritrace.edairy.desktop.common.model/tracking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.agritrace.edairy.desktop.common.model/dairy/">
  <xsd:import namespace="http://com.agritrace.edairy.desktop.common.model/account" schemaLocation="account.xsd"/>
  <xsd:import namespace="http://com.agritrace.edairy.desktop.common.model/tracking/" schemaLocation="tracking.xsd"/>
  <xsd:import namespace="http://edairy.agritrace.com/requests/" schemaLocation="requests.xsd"/>
  <xsd:import namespace="http://com.agritrace.edairy.desktop.common.model/base/" schemaLocation="base.xsd"/>
  <xsd:simpleType name="JournalStatus">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="NEW"/>
      <xsd:enumeration value="PENDING"/>
      <xsd:enumeration value="COMPLETE"/>
      <xsd:enumeration value="SUSPENDED"/>
      <xsd:enumeration value="ARCHIVED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MembershipStatus">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Dormant"/>
      <xsd:enumeration value="Deleted"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VendorStatus">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Pending"/>
      <xsd:enumeration value="Valid"/>
      <xsd:enumeration value="Invalid"/>
      <xsd:enumeration value="Suspended"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DairyFunction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="MilkCollection"/>
      <xsd:enumeration value="MilkStorage"/>
      <xsd:enumeration value="StoreSales"/>
      <xsd:enumeration value="Warehouse"/>
      <xsd:enumeration value="MilkProcessing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PreferenceType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="Boolean"/>
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="Long"/>
      <xsd:enumeration value="Float"/>
      <xsd:enumeration value="Double"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CollectionGroupType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="ScaleGroup"/>
      <xsd:enumeration value="JournalGroup"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Vehicle">
    <xsd:attribute name="vehicleId" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="registrationNumber" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="type" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="make" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="model" type="xsd:string"/>
    <xsd:attribute default=" " name="engineNumber" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="chassisNumber" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="logBookNumber" type="xsd:string" use="required"/>
    <xsd:attribute default=" " name="insurancePolicyNumber" type="xsd:string"/>
    <xsd:attribute name="insuranceExpirationDate" type="xsd:string"/>
    <xsd:attribute default=" " name="dominantColour" type="xsd:string"/>
    <xsd:attribute default="0" name="capacityInTonnes" type="xsd:double"/>
    <xsd:attribute default="2005" name="year" type="xsd:int"/>
    <xsd:attribute name="driver" type="xsd:string"/>
    <xsd:attribute name="assetInfo" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Vehicle" type="dairy:Vehicle"/>
  <xsd:complexType name="CollectionJournalLine">
    <xsd:attribute name="lineNumber" type="xsd:int"/>
    <xsd:attribute name="recordedMember" type="xsd:string" use="required"/>
    <xsd:attribute name="quantity" type="xsd:string" use="required"/>
    <xsd:attribute name="flagged" type="xsd:boolean"/>
    <xsd:attribute default="KILOGRAMS" name="unitOfMeasure" type="base:UnitOfMeasure" use="required"/>
    <xsd:attribute name="notRecorded" type="xsd:boolean"/>
    <xsd:attribute name="offRoute" type="xsd:boolean"/>
    <xsd:attribute name="rejected" type="xsd:boolean"/>
    <xsd:attribute name="rejectionReason" type="xsd:string"/>
    <xsd:attribute default="0.0" name="milkFatPercentage" type="xsd:string"/>
    <xsd:attribute default="0.0" name="alcoholPercentage" type="xsd:string"/>
    <xsd:attribute default="false" name="waterAdded" type="xsd:boolean"/>
    <xsd:attribute name="validatedMember" type="xsd:string"/>
    <xsd:attribute name="from" type="xsd:string"/>
    <xsd:attribute name="farmContainer" type="xsd:string"/>
    <xsd:attribute name="dairyContainer" type="xsd:string"/>
    <xsd:attribute name="collectionJournal" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="CollectionJournalLine" type="dairy:CollectionJournalLine"/>
  <xsd:complexType name="ScaleImportRecord">
    <xsd:complexContent>
      <xsd:extension base="dairy:CollectionJournalLine">
        <xsd:attribute name="scaleSerial" type="xsd:string"/>
        <xsd:attribute name="collectionTime" type="xsd:string"/>
        <xsd:attribute name="centerNumber" type="xsd:string"/>
        <xsd:attribute name="numCans" type="xsd:string"/>
        <xsd:attribute name="tripNumber" type="xsd:string"/>
        <xsd:attribute default="" name="operatorCode" type="xsd:string"/>
        <xsd:attribute default="false" name="validated" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScaleImportRecord" type="dairy:ScaleImportRecord"/>
  <xsd:complexType name="Employee">
    <xsd:complexContent>
      <xsd:extension base="base:Person">
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:attribute name="operatorCode" type="xsd:string"/>
        <xsd:attribute name="startDate" type="xsd:string" use="required"/>
        <xsd:attribute name="jobFunction" type="xsd:string"/>
        <xsd:attribute name="department" type="xsd:string"/>
        <xsd:attribute name="username" type="xsd:string"/>
        <xsd:attribute default="" name="password" type="xsd:string"/>
        <xsd:attribute default="true" name="localEnabled" type="xsd:boolean"/>
        <xsd:attribute default="false" name="passwordHashed" type="xsd:boolean" use="required"/>
        <xsd:attribute name="role" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Employee" type="dairy:Employee"/>
  <xsd:complexType name="DairyLocation">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="functions" type="dairy:DairyFunction"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="location" type="base:Location"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:long"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="dateOpened" type="xsd:string"/>
    <xsd:attribute default="+254" name="phone" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="route" type="xsd:string"/>
    <xsd:attribute name="containers" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="DairyLocation" type="dairy:DairyLocation"/>
  <xsd:complexType name="CollectionGroup">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="journalEntries" type="dairy:CollectionJournalLine"/>
    </xsd:sequence>
    <xsd:attribute name="journalId" type="xsd:string" use="required"/>
    <xsd:attribute name="referenceNumber" type="xsd:string" use="required"/>
    <xsd:attribute name="journalDate" type="xsd:string" use="required"/>
    <xsd:attribute default="NEW" name="status" type="dairy:JournalStatus" use="required"/>
    <xsd:attribute name="driverTotal" type="xsd:string"/>
    <xsd:attribute default="0" name="recordTotal" type="xsd:string"/>
    <xsd:attribute default="false" name="suspended" type="xsd:boolean"/>
    <xsd:attribute default="0" name="entryCount" type="xsd:int"/>
    <xsd:attribute default="0" name="suspendedCount" type="xsd:int"/>
    <xsd:attribute default="0" name="rejectedCount" type="xsd:int"/>
    <xsd:attribute default="" name="journalNumber" type="xsd:string"/>
    <xsd:attribute default="ScaleGroup" name="type" type="dairy:CollectionGroupType" use="required"/>
    <xsd:attribute name="driver" type="xsd:string"/>
    <xsd:attribute name="vehicle" type="xsd:string"/>
    <xsd:attribute name="session" type="xsd:string"/>
    <xsd:attribute name="collectionCenter" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="CollectionGroup" type="dairy:CollectionGroup"/>
  <xsd:complexType name="Route">
    <xsd:attribute name="Id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="stops" type="xsd:string"/>
    <xsd:attribute name="vehicle" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Route" type="dairy:Route"/>
  <xsd:complexType name="Trip">
    <xsd:attribute name="started" type="xsd:string" use="required"/>
    <xsd:attribute name="ended" type="xsd:string" use="required"/>
    <xsd:attribute name="tripId" type="xsd:long" use="required"/>
    <xsd:attribute name="collections" type="xsd:string"/>
    <xsd:attribute name="deliveries" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Trip" type="dairy:Trip"/>
  <xsd:complexType name="DeliveryJournal">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="lines" type="dairy:DeliveryJournalLine"/>
    </xsd:sequence>
    <xsd:attribute name="referenceNumber" type="xsd:string" use="required"/>
    <xsd:attribute name="date" type="xsd:string" use="required"/>
    <xsd:attribute default="0.0" name="total" type="xsd:string" use="required"/>
    <xsd:attribute name="route" type="xsd:string"/>
    <xsd:attribute name="customer" type="xsd:string"/>
    <xsd:attribute name="driver" type="xsd:string"/>
    <xsd:attribute name="vehicle" type="xsd:string"/>
    <xsd:attribute name="session" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="DeliveryJournal" type="dairy:DeliveryJournal"/>
  <xsd:complexType name="DeliveryJournalLine">
    <xsd:attribute name="lineNumber" type="xsd:int" use="required"/>
    <xsd:attribute name="quantity" type="xsd:string" use="required"/>
    <xsd:attribute name="description" type="xsd:string" use="required"/>
    <xsd:attribute name="bin" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="DeliveryJournalLine" type="dairy:DeliveryJournalLine"/>
  <xsd:complexType name="Dairy">
    <xsd:complexContent>
      <xsd:extension base="base:Company">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="routes" type="dairy:Route"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="vehicles" type="dairy:Vehicle"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="employees" type="dairy:Employee"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="memberships" type="dairy:Membership"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="branchLocations" type="dairy:DairyLocation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="collectionJournals" type="dairy:CollectionGroup"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="deliveryJournals" type="dairy:DeliveryJournal"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="suppliers" type="dairy:Supplier"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="customers" type="dairy:Customer"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="animalHealthRequests" type="requests:AnimalHealthRequest"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="dairyBins" type="dairy:DairyContainer"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="priceHistory" type="dairy:MemberPayment"/>
        </xsd:sequence>
        <xsd:attribute name="registrationNumber" type="xsd:string" use="required"/>
        <xsd:attribute name="establishedDate" type="xsd:string"/>
        <xsd:attribute name="managerName" type="xsd:string"/>
        <xsd:attribute name="nssfNumber" type="xsd:string"/>
        <xsd:attribute name="nhifNumber" type="xsd:string"/>
        <xsd:attribute name="federalPin" type="xsd:string"/>
        <xsd:attribute name="licenseEffectiveDate" type="xsd:string"/>
        <xsd:attribute name="licenseExpirationDate" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:long"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Dairy" type="dairy:Dairy"/>
  <xsd:complexType name="Membership">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="member" type="tracking:Farmer"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="account" type="account:Account"/>
    </xsd:sequence>
    <xsd:attribute name="memberId" type="xsd:string" use="required"/>
    <xsd:attribute name="memberNumber" type="xsd:string" use="required"/>
    <xsd:attribute name="applicationDate" type="xsd:string" use="required"/>
    <xsd:attribute name="effectiveDate" type="xsd:string"/>
    <xsd:attribute name="status" type="dairy:MembershipStatus" use="required"/>
    <xsd:attribute name="defaultRoute" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Membership" type="dairy:Membership"/>
  <xsd:complexType name="Asset">
    <xsd:attribute name="tagType" type="xsd:string"/>
    <xsd:attribute name="tagValue" type="xsd:string"/>
    <xsd:attribute name="dateAcquired" type="xsd:string"/>
    <xsd:attribute name="damageDate" type="xsd:string"/>
    <xsd:attribute name="damageDescription" type="xsd:string"/>
    <xsd:attribute name="dateDisposed" type="xsd:string"/>
    <xsd:attribute name="disposalReason" type="xsd:string"/>
    <xsd:attribute name="disposalWitness" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Asset" type="dairy:Asset"/>
  <xsd:complexType name="DairyContainer">
    <xsd:complexContent>
      <xsd:extension base="tracking:Container">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="assetInfo" type="dairy:Asset"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DairyContainer" type="dairy:DairyContainer"/>
  <xsd:complexType name="Supplier">
    <xsd:complexContent>
      <xsd:extension base="base:Company">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="categories" nillable="true" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:attribute name="publicDescription" type="xsd:string" use="required"/>
        <xsd:attribute name="status" type="dairy:VendorStatus" use="required"/>
        <xsd:attribute name="registrationDate" type="xsd:string" use="required"/>
        <xsd:attribute name="expirationDate" type="xsd:string"/>
        <xsd:attribute name="notes" type="xsd:string"/>
        <xsd:attribute name="rating" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Supplier" type="dairy:Supplier"/>
  <xsd:complexType name="Customer">
    <xsd:complexContent>
      <xsd:extension base="base:Company">
        <xsd:attribute name="id" type="xsd:string" use="required"/>
        <xsd:attribute default="Milk Processor" name="customerType" type="xsd:string"/>
        <xsd:attribute default="Active" name="status" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Customer" type="dairy:Customer"/>
  <xsd:complexType name="MemberPayment">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="year" type="xsd:int" use="required"/>
    <xsd:attribute name="month" type="xsd:int" use="required"/>
    <xsd:attribute name="paymentRate" type="xsd:string" use="required"/>
    <xsd:attribute name="paymentsTotal" type="xsd:string"/>
    <xsd:attribute name="paymentsCount" type="xsd:int"/>
    <xsd:attribute name="entryDate" type="xsd:string" use="required"/>
    <xsd:attribute name="enteredBy" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="MemberPayment" type="dairy:MemberPayment"/>
  <xsd:complexType name="Preference">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="key" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Preference" type="dairy:Preference"/>
  <xsd:complexType name="PreferenceKey">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="defaultValue" type="xsd:string"/>
    <xsd:attribute name="type" type="dairy:PreferenceType"/>
  </xsd:complexType>
  <xsd:element name="PreferenceKey" type="dairy:PreferenceKey"/>
  <xsd:complexType name="Role">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Role" type="dairy:Role"/>
  <xsd:complexType name="PermissionNamespace">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="PermissionNamespace" type="dairy:PermissionNamespace"/>
  <xsd:complexType name="Permission">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="displayName" type="xsd:string"/>
    <xsd:attribute name="namespace" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Permission" type="dairy:Permission"/>
  <xsd:complexType name="CollectionSession">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="timeOfDay" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="CollectionSession" type="dairy:CollectionSession"/>
</xsd:schema>
