com.agritrace.edairy.model/model/dairy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dairy="http://com.agritrace.edairy.model/dairy/" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:model="http://com.agritrace.edairy.model/" xmlns:tracking="http://com.agritrace.edairy.model/tracking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="dairy" ecore:package="com.agritrace.edairy.model.dairy" targetNamespace="http://com.agritrace.edairy.model/dairy/">
  <xsd:import namespace="http://com.agritrace.edairy.model/tracking/" schemaLocation="farm.xsd"/>
  <xsd:import namespace="http://com.agritrace.edairy.model/" schemaLocation="common.xsd"/>
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:element ecore:ignore="true" name="Vehicle" type="dairy:Vehicle"/>
  <xsd:element ecore:ignore="true" name="Driver" type="dairy:Driver"/>
  <xsd:element ecore:ignore="true" name="CollectionRecord" type="dairy:CollectionRecord"/>
  <xsd:element ecore:ignore="true" name="Employee" type="dairy:Employee"/>
  <xsd:element ecore:ignore="true" name="DairyLocation" type="dairy:DairyLocation"/>
  <xsd:element ecore:ignore="true" name="Workstation" type="dairy:Workstation"/>
  <xsd:element ecore:ignore="true" name="CollectionJournal" type="dairy:CollectionJournal"/>
  <xsd:element ecore:ignore="true" name="Route" type="dairy:Route"/>
  <xsd:element ecore:ignore="true" name="Trip" type="dairy:Trip"/>
  <xsd:element ecore:ignore="true" name="DeliveryJournal" type="dairy:DeliveryJournal"/>
  <xsd:element ecore:ignore="true" name="Session" type="dairy:Session"/>
  <xsd:element ecore:ignore="true" name="Dairy" type="dairy:Dairy"/>
  <xsd:element ecore:ignore="true" name="Membership" type="dairy:Membership"/>
  <xsd:element ecore:ignore="true" name="Asset" type="dairy:Asset"/>
  <xsd:element ecore:ignore="true" name="DairyContainer" type="dairy:DairyContainer"/>
  <xsd:complexType name="Vehicle">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" name="assetInfo" type="dairy:Asset"/>
    </xsd:sequence>
    <xsd:attribute name="registrationNumber" type="ecore:EString" use="required"/>
    <xsd:attribute name="type" type="ecore:EString" use="required"/>
    <xsd:attribute name="make" type="ecore:EString" use="required"/>
    <xsd:attribute name="model" type="ecore:EString"/>
    <xsd:attribute name="engineNumber" type="ecore:EString" use="required"/>
    <xsd:attribute name="chassisNumber" type="ecore:EString" use="required"/>
    <xsd:attribute name="logBookNumber" type="ecore:EString" use="required"/>
    <xsd:attribute name="insurancePolicyNumber" type="ecore:EString"/>
    <xsd:attribute name="insurancePurchaseDate" type="ecore:EString"/>
    <xsd:attribute name="dominantColour" type="ecore:EString"/>
    <xsd:attribute name="capacityInTonnes" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Driver">
    <xsd:complexContent>
      <xsd:extension base="dairy:Employee">
        <xsd:attribute ecore:reference="dairy:Vehicle" name="vehicleAssignment" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CollectionRecord">
    <xsd:attribute ecore:unsettable="false" name="suspended" type="ecore:EBoolean"/>
    <xsd:attribute ecore:unsettable="false" name="notRecorded" type="ecore:EBoolean"/>
    <xsd:attribute ecore:reference="dairy:Membership" name="recordedMember" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:derived="true" ecore:unsettable="false" name="offRoute" type="ecore:EBoolean"/>
    <xsd:attribute name="date" type="ecore:EDate"/>
    <xsd:attribute ecore:unsettable="false" name="quantity" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="unitOfMeasure" type="model:UnitOfMeasure"/>
    <xsd:attribute ecore:reference="tracking:Farm" name="from" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="tracking:Container" name="farmContainer" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="tracking:Container" name="dairyContainer" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="Employee">
    <xsd:complexContent>
      <xsd:extension base="model:Person">
        <xsd:attribute name="id" type="ecore:EString" use="required"/>
        <xsd:attribute name="startDate" type="ecore:EDate" use="required"/>
        <xsd:attribute name="jobFunction" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DairyLocation">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" name="location" type="model:Location"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="ecore:EString" use="required"/>
    <xsd:attribute name="dateOpened" type="ecore:EDate"/>
    <xsd:attribute name="phone" type="ecore:EString"/>
    <xsd:attribute ecore:reference="dairy:Route" name="route" type="xsd:anyURI"/>
    <xsd:attribute name="description" type="ecore:EString"/>
    <xsd:attribute name="code" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Workstation">
    <xsd:attribute name="id" type="ecore:EString" use="required"/>
    <xsd:attribute name="location" type="ecore:EString" use="required"/>
    <xsd:attribute name="type" type="ecore:EString" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CollectionJournal">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="journalEntries" type="dairy:CollectionRecord"/>
    </xsd:sequence>
    <xsd:attribute name="referenceNumber" type="ecore:EString" use="required"/>
    <xsd:attribute name="journalDate" type="ecore:EDate" use="required"/>
    <xsd:attribute ecore:reference="dairy:Employee" name="driver" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="dairy:Route" name="route" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="dairy:Session" name="session" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="tracking:Container" name="farmContainer" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="dairy:DairyContainer" name="bin" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="dairy:Vehicle" name="vehicle" type="xsd:anyURI" use="required"/>
    <xsd:attribute name="driverTotal" type="ecore:EBigDecimal" use="required"/>
    <xsd:attribute ecore:default="0" ecore:derived="true" ecore:unsettable="false" name="recordTotal" type="ecore:EBigDecimal" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Route">
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute ecore:reference="dairy:DairyLocation" name="stops">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="code" type="ecore:EString"/>
    <xsd:attribute name="description" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Trip">
    <xsd:attribute ecore:reference="dairy:CollectionJournal" name="collections" use="required">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:reference="dairy:DeliveryJournal" name="deliveries" use="required">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="started" type="ecore:EDate" use="required"/>
    <xsd:attribute name="ended" type="ecore:EDate" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DeliveryJournal">
    <xsd:attribute name="referenceNumber" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Session">
    <xsd:attribute name="name" type="ecore:EString" use="required"/>
    <xsd:attribute ecore:unsettable="false" name="sequence" type="ecore:EShort" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Dairy">
    <xsd:complexContent>
      <xsd:extension base="model:Company">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="routes" type="dairy:Route"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="vehicles" type="dairy:Vehicle"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="employees" type="dairy:Employee"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="2" name="sessions" type="dairy:Session"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="memberships" type="dairy:Membership"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="branchLocations" type="dairy:DairyLocation"/>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="collections" type="dairy:CollectionJournal"/>
        </xsd:sequence>
        <xsd:attribute name="nhifNumber" type="ecore:EString"/>
        <xsd:attribute name="nssfNumber" type="ecore:EString"/>
        <xsd:attribute name="federalPin" type="ecore:EString"/>
        <xsd:attribute ecore:reference="dairy:Workstation" name="workstations">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="registrationNumber" type="ecore:EString" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Membership">
    <xsd:attribute name="applicationDate" type="ecore:EDate" use="required"/>
    <xsd:attribute name="effectiveDate" type="ecore:EDate"/>
    <xsd:attribute ecore:unsettable="false" name="status" type="dairy:MembershipStatus" use="required"/>
    <xsd:attribute ecore:reference="dairy:Route" name="defaultRoute" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="model:Person" name="member" type="xsd:anyURI" use="required"/>
    <xsd:attribute name="memberId" type="ecore:EString"/>
    <xsd:attribute ecore:reference="tracking:Farm" name="farms">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Asset">
    <xsd:attribute ecore:id="true" name="assetId" type="model:UniqueID" use="required"/>
    <xsd:attribute name="tagType" type="ecore:EString" use="required"/>
    <xsd:attribute name="tagValue" type="ecore:EString" use="required"/>
    <xsd:attribute name="dateAcquired" type="ecore:EDate" use="required"/>
    <xsd:attribute name="dateDisposed" type="ecore:EDate"/>
    <xsd:attribute name="disposalReason" type="ecore:EString"/>
    <xsd:attribute name="disposalWitness" type="ecore:EString"/>
    <xsd:attribute name="damageDate" type="ecore:EDate"/>
    <xsd:attribute name="damageDescription" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="DairyContainer">
    <xsd:complexContent>
      <xsd:extension base="tracking:Container">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" name="assetInfo" type="dairy:Asset"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MembershipStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
      <xsd:enumeration value="Dormant"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
